body{

    margin: 0;
    /*background: linear-gradient(116deg, #8909AD 0 20%,#1F08A2 50% 100%);*/
    background-image: url(../img/fond-test.svg);
    background-repeat: no-repeat;
}

ul{

    list-style: none;
}

H1{

    font-family: Museo-slab;
    font-weight: 700;
    font-size: 50pt;
    color: white;
}

H2{

    font-family: Museo-slab;
    font-weight: 700;
    font-size: 35pt;
    color: white;
    
}

p{
    font-family: Poppins, sans-serif;
    font-size: 16pt;
    color: white;
}

a{

    text-decoration: none;
}

.First_section,.Second_section,.Fourth_section{
    margin-left: 160px;
    margin-right: 160px;
}

.header{

    margin-left: 160px;
    margin-right: 160px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.logo > a{

    text-decoration: none;
}

.Space{

    font-family: museo-slab;
    font-weight: 500;
    font-size: 30pt;
    color: white;
}

.Drive{

    font-family: museo-slab;
    font-weight: 900;
    font-size: 30pt;
    color: white;
}

.menu{

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 14pt;
    line-height: 10px;
    justify-content: space-around;
}   

.menu > li:hover{

    text-decoration: underline white;

}

.First_section{
    display: grid;
    grid-template-columns: 700px 500px;
}

.Presentation_gauche{

    margin-top: 100px;

}

.Presentation_gauche > a > div {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 33px;
    background: #D55E54;
    color: white;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    margin-top: 45px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.Home_para {

    margin-top: -25px;
}

.Second_section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Second_section > h1{

    text-align: center;
    position: relative;
    top: -75px;
    
}


.Search_Domain {

    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50px;
    background: white;
    align-self: center;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .16);
    margin-top: -50px;

}

.Search_Domain > p {
    color: black;
    margin-right: 50px;
}
    
    
input{

    width: 70%;
    height: 90px;
    border-radius: 50px;
    border: 0 none;
    font-family: Poppins, sans-serif ;
    font-size: 16pt;
    color: rgba(0, 0, 0, .5);
    text-align: start;
    
}

.Search{

    width: 200px;
    height: 92px;
    border-radius: 50px;
    background: linear-gradient(135deg, #F873CF,#5129B2);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    letter-spacing: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -1px;
}

.Second_section > ul {

    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-family: Poppins, sans-serif;
    font-size: 14pt;
    color: white;
    align-self: center;
    padding: 0;
    margin-top: 40px;
}

.bold{
    font-weight: bold;
}

.box_presentation{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin-top: 5%;
}

.Box_unique{

    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border-radius: 25px;
    width: 100%;
    height: 350px;
    
}

.Box_unique > img {

    width: 20%;
    margin-top: 20px;
}

.Box_unique > h3{

    font-family: Museo-slab;
    font-weight: 700;
    font-size: 16pt;
    margin-top: 20px;
}

.Box_unique > p {

    color: #606060;
    text-align: center;
    font-size: 13pt;
    line-height: 2;
    margin-top: -5px;
}

.Third_section{

    background-image: url(../img/Fond_section3.svg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    height: 800px;
}

.Third_section > div{

    margin-left: 160px;
    margin-right: 160px;
}

.Third_section > div > p{ 

    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14pt;
    line-height: 36px;
}

.Third_section > div >  a > div {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 33px;
    background: rgba(216, 216, 216, 0.29);
    color: white;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    margin-top: 45px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.Fourth_section > .Our_services{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

}

.Our_services > h2 {

    color: #6B3C96;
}

.Our_services > p {

    color: #4E4E4E;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    margin-top: -10px;
}

.Block_group{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
    margin-top: 85px;

}

.Block_service{

    text-align: start;
    color: #393743;

}

.Block_service > h3{

    font-family: Poppins, sans-serif;
    font-weight:500;
    font-size: 22pt;
}

.Block_service > p{
    
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: #4E4E4E;

}

.Fifth_section{

    background-image: url(../img/Fond_section5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
    
}

.Secure_Website{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Secure_Website > .Presentation{
    margin-top: 140px;
}

.Secure_Website > .img_secureservice{
    margin-top: 80px;
}

.checked{

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    
}

.checked > svg {

    margin-right: 30px;
    
}

.Secure_Domain{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Secure_Domain > .Presentation{
    margin-top: 180px;
}

.Read_more{

    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 14pt;
    color: white;
    position: relative;
    top: 20px;
}

.Read_more:hover{

    background: white;
    color:#0A1E89;
}

.Secure_Domain > .img_secureservice{
    margin-top: 100px;
}

.img_secureservice > img{

    width: 90%;

}

.Sixth_section{
    background-image: url(../img/Fond_section6.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Sixth_section > div{
    margin-right: 160px;
    margin-left: 160px;
    height: 1250px;
}

.Choose_your_plan{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.Choose_your_plan > h2 {

    margin: 0;
    text-align: center;
    margin-bottom: 50px;
    font-family: Museo-slab, sans-serif;
    font-weight: 900;
    position: relative;
    top: 50px;
    

}

.Choose_your_plan > p{
    text-align: center;
    font-size: 14pt;

}

.Plan_list{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    column-gap: 120px;
    margin-top: 150px;
}

.Offre{

    width: 100%;
    height: 770px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Offre > h5{

    font-family:Poppins, sans-serif;
    font-weight: 500;
    font-size: 18pt;
    color: #706A93;
}

.Offre > h1 {
    color: #151010;
    font-family: Museo-slab, sans-serif;
    font-weight: 800;
}

.Offre > h1::after {
    content: 'GB';
    font-size: 14pt;
    color: #706A93;
    position: relative;
    top: -50px;
}

.Offre > ul{

    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    font-size: 16pt;
    padding: 0;
    color: #5F6874;
    
}

.Offre > ul > li{

    margin-bottom: 20px;    
}

.Offre > .prix{

    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 20pt;
    color: black;
}

.Offre > a{
    display: flex;
    justify-content: center;
}

.Offre > a > div{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 33px;
    background: #D55E54;
    color: white;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    margin-top: 40px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

footer{

    background-color: #1B1543;
}

.footer{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 160px 0 160px;
}

.Space2{

    font-family: museo-slab;
    font-weight: 500;
    font-size: 19pt;
    color: white;
}

.Drive2{

    font-family: museo-slab;
    font-weight: 900;
    font-size: 19pt;
    color: white;
}

.Informations{
    margin-top: 80px;
    margin-bottom: 80px;
}

.Informations > p{

    font-size: 14pt;
}

.Descritpion{

    margin-top: 60px;
    margin-bottom: 60px;

}

.Descritpion > p{

    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16pt;
}

.Descritpion > ul {

    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: white;
    padding :0;
}

.Descritpion > ul > a > li{
    color: white;
}

.Descritpion > ul > a > li:hover{
    text-decoration: underline;
}

.Descritpion > div > input {

    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-left: 15px;
}

.Descritpion > div{
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 10px;
}

.Descritpion > div > a  >  .Search{
    width: 150%;
    height: 42px;
    border-radius: 10px;
    background: #3ECCED;
    font-size: 12pt;
}